@import 'src/stylesheets/variables';
@import 'src/stylesheets/colors';

.header {
    background-color: $teal;
    height: 20px;
}

.home-container {
    //text-align: center;
    //color: $white;
    min-height: 500px;
    margin-top:20px;
}

footer {
    height: 50px;
    display: flex;
    justify-content: center; /* center items vertically, in this case */
    align-items: center;
    background-color: $athensGrey;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.copyright{
    display: flex;
    text-align: center;
    //color: $athensGrey;
    font-size: 1em;
}