<div class="row bootstrap snippets">
    <div class="col-md-6 col-md-offset-3 col-sm-12">
        <div class="comment-wrapper">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Comment panel
                </div>
                <div class="panel-body">
                    <textarea class="form-control" ng-model="$ctrl.newComment" placeholder="write a comment..." rows="3"></textarea>
                    <br>
                    <button type="button" class="btn btn-info pull-right" ng-click="$ctrl.postComment()">Post</button>
                    <div class="clearfix"></div>
                    <hr>
                    <ul class="media-list">
                        <comments-comment ng-repeat="comment in $ctrl.comments" comment="comment"></comments-comment>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
