$grey: #EEE;
$darkGrey: #8386A0;
$athensGrey: #E2E2E2;

$cranberry: #BA4468;
$blackRock: #333441;
$blackGrey: #383A49;
$paleRose: #D05D84;
$lightRose: #F2D2DD;
$white: #FFF;

$teal: #028482;
$teal_light: #4ABCA2;
$teal_x_light: #9DD9CA;