<!DOCTYPE html>
<html lang="en" ng-app="oxxido">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tuna Demo</title>
</head>
<body>
  <div ui-view></div>

</body>
</html>